.SearchComp{
    width: 500px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-text{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(213, 242, 46, 0.624);
}
.input-text{
    width: 350px;
    border: none;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.833);
    background-color: rgba(250, 235, 215, 0.443);
    display: flex;
}
.btn-send{
    width: 50px;
    height: 50px;
    border: none;
    background-color: beige;
}