$main: #0044d6;
.TodoList{
    height: calc(100vh - 280px);
    width: 1500px;
    display: flex;
    justify-content: space-around;
}
.todoList-box{
    display: flex;
}
.task-input{
    border-color: $main;
    color: $main;
}
.task-input::placeholder{
    color: $main;
}