$main: #0044d6;
.Main{
    height: calc(100vh - 280px);
    width: 1500px;
}
.my-resume{
    width: 1500px;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.describe-section{
    width: 500px;
}
.icon-describe{
    display: flex;
    width: 200px;
    align-items: center;
}